[submodule "GitExtensionsDoc"]
	path = GitExtensionsDoc
	url = git://github.com/gitextensions/GitExtensionsDoc.git
[submodule "Externals/NBug"]
	path = Externals/NBug
	url = git://github.com/gitextensions/NBug.git
[submodule "Externals/Git.hub"]
	path = Externals/Git.hub
	url = git://github.com/gitextensions/Git.hub.git
[submodule "conemu-inside"]
	path = conemu-inside
	url = https://github.com/Maximus5/conemu-inside.git
	branch = winforms
